<section class="bg-gray" id="dates">

      <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">IMPORTANT DATES</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">
            <table style="width: 100%; font-size: 18px;">
                <tbody>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <th class="th-1-Width">Event</th>
                        <th style="text-align: left;">Date</th>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="3" style="text-align: left;">Full peer-review (Archival and Non-archival)</td>
                        <td><b>Submission deadline: TBA</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: March 1, 2025</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Camera-ready paper due: March 10, 2025</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="3" style="text-align: left;">Already peer-reviewed through ARR</td>
                        <td><b>Last ARR submission deadline: Dec 15th, 2024</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Commitment deadline: February 20, 2025</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: March 1, 2025</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="2" style="text-align: left;">Already accepted/published (Non-archival)</td>
                        <td><b>Submission deadline: TBA</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: March 1, 2025</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="2" style="text-align: left;">Workshop</td>
                        <td>Registration: TBA</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Workshop: May 3-4, 2025</td>
                    </tr>
                </tbody>
            </table>
            
            <br>
            <p class="bg-gray" align="justify">All deadlines are 23:59 <a href="https://www.timeanddate.com/time/zone/timezone/utc-12" target="_blank">UTC -12h</a> (anywhere on earth) unless stated otherwise.</p>

        </div>

    </div>
</section>