<style>
    body {
        font-family: Arial, sans-serif;
    }

    #mainNav .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-header {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav > li > a {
        text-align: center;
    }
</style>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color: #f2f3f5">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#workshop">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cfp">Call For Papers</a>
                </li>
                <li>
                    <a class="page-scroll" href="#dates">Important Dates</a>
                </li>
                <li>
                    <a class="page-scroll" href="#organizers">Organizers</a>
                </li>
                <li>
                    <a class="page-scroll" href="#speakers">Speakers</a>
                </li>
                <li>
                    <a class="page-scroll" href="#previous">Previous Workshops</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
