<style>
    body {
        font-family: Arial, sans-serif;
    }

    #mainNav .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-header {
        display: flex;
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav > li > a {
        text-align: center;
    }

    /* 增加响应式设计 */
    @media (max-width: 767px) {
        .navbar-nav {
            text-align: center;
            margin-top: 10px;
        }

        .navbar-nav > li {
            margin: 5px 0;
        }

        .navbar-collapse {
            display: block;
        }

        .navbar-toggle {
            display: block;
        }
    }

</style>


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color: #f2f3f5">
        <div class="navbar-header">
            <!-- 导航栏折叠按钮 -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- 收起的导航项 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right"> <!-- Add navbar-right to align items to the right -->
                <li><a class="page-scroll" href="#workshop" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a></li>
                <li><a class="page-scroll" href="#cfp" data-toggle="collapse" data-target=".navbar-collapse.in">Call For Papers</a></li>
                <li><a class="page-scroll" href="#dates" data-toggle="collapse" data-target=".navbar-collapse.in">Important Dates</a></li>
                <li><a class="page-scroll" href="#organizers" data-toggle="collapse" data-target=".navbar-collapse.in">Organizers</a></li>
                <li><a class="page-scroll" href="#speakers" data-toggle="collapse" data-target=".navbar-collapse.in">Speakers</a></li>
                <li><a class="page-scroll" href="#previous" data-toggle="collapse" data-target=".navbar-collapse.in">Previous Workshops</a></li>
                <li><a class="page-scroll" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- 加载jQuery和Bootstrap的JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
