<style>

.organizers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.organizer {
    flex: 1 1 calc(25% - 20px); 
    max-width: 350px; 
    text-align: center; 
    padding: 10px; 
    box-sizing: border-box; 
}

.organizer img {
    width: 128px;
    height: 128px;
    border-radius: 50%; 
    object-fit: cover;
}

.organizer h3 {
    font-size: 24px;
    margin: 10px 0 5px; 
}

.organizer p {
    font-size: 16px;
    line-height: 1.4; 
}

.reviewer {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 50%;
    padding: 1px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    line-height: 1;
}
.item::before {
    content: "• ";
    font-weight: bold;
}
.name {
    font-size: 19px;
}

</style>


<section class="bg-gray" id="organizers">
    <div class="container text-center">
        <div class="row">
            <div class="call-to-action">
                <h2>ORGANIZING COMMITTEE</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">
            <div class="organizers-container">
                <div class="organizer">
                    <a href="https://cs.stanford.edu/~vinod/" target="_blank">
                    <img src="img/portfolio/vinod.png" alt="Vinod" />
                    <h3>Vinodkumar Prabhakaran</h3></a>
                    <p>Senior Research Scientist<br> Google Research</p>
                </div>
                <div class="organizer">
                    <a href="https://sunipa.github.io/" target="_blank">
                    <img src="img/portfolio/sunipa.jpg" alt="Sunipa" />
                    <h3>Sunipa Dev</h3></a>
                    <p>Senior Research Scientist<br> Google Research</p>
                </div>
                <div class="organizer">
                    <a href="https://benotti.github.io/" target="_blank">
                    <img src="img/portfolio/luciana.jpeg" alt="Luciana" />
                    <h3>Luciana Benotti</h3></a>    
                    <p>Associate Professor <br> Universidad Nacional de Córdoba</p>
            </div>
            <div class="organizer">
                <a href="https://danielhers.github.io/" target="_blank">
                <img src="img/portfolio/daniel.jpg" alt="Daniel" />
                <h3>Daniel Hershcovich</h3></a> 
                <p>Assistant Professor <br> University of Copenhagen</p>
            </div>
            <div class="organizer">
                <a href="https://lautel.github.io/" target="_blank">
                <img src="img/portfolio/laura.jpg" alt="Laura" />
                <h3>Laura Cabello</h3></a>
                <p>PhD Student <br> University of Copenhagen</p>
            </div>
            <div class="organizer">
                <a href="https://yongcaoplus.github.io/" target="_blank">
                <img src="img/portfolio/yong.png" alt="Yong" />
                <h3>Yong Cao</h3></a>   
                <p>Postdoc Researcher <br> University of Tübingen</p>
            </div>  
            <div class="organizer">
                <a href="https://ifeadebara.com/" target="_blank">
                <img src="img/portfolio/ife.png" alt="Ife" />
                <h3>Ife Adebara</h3></a>    
                <p>PhD Student <br> University of British Columbia</p>
            </div>  
            <div class="organizer">
                <a href="https://lizhou21.github.io/" target="_blank">
                <img src="img/portfolio/li.jpg" alt="Li" />
                <h3>Li Zhou</h3></a>    
                <p>Postdoc Researcher <br> The Chinese University of Hong Kong, Shenzhen</p>
            </div>  
            
        </div>

    </div>


</section>

<section class="bg-gray" id="reviewers">
    <div class="container text-center">
    <div class="row">
        <div class="call-to-action">
            <h2>PROGRAM COMMITTEE</h2>
            <hr class="primary">
        </div>
        <div class="reviewer">
            <p class="item"><span class="name">Nikola Ljubešić</span> - Jožef Stefan Institute</p>
            <p class="item"><span class="name">Nithish Kannen</span> - Google DeepMind</p>
            <p class="item"><span class="name">Michael Bloodgood</span> - The College of New Jersey</p>
            <p class="item"><span class="name">Aida Mostafazadeh Davani</span> - Research, Google</p>
            <p class="item"><span class="name">Kevin Robinson</span> - Google</p>
            <p class="item"><span class="name">Bin Wang</span> - I2R, A*STAR</p>
            <p class="item"><span class="name">Shravan Nayak</span> - Université de Montréal</p>
            <p class="item"><span class="name">Steven R Wilson</span> - University of Michigan - Flint</p>
            <p class="item"><span class="name">Mehar Bhatia</span> - Mila - Quebec Artificial Intelligence Institute</p>
            <p class="item"><span class="name">Charvi Rastogi</span> - Google</p>
            <p class="item"><span class="name">Agrima Seth</span> - University of Michigan - Ann Arbor</p>
            <p class="item"><span class="name">Kiki Ferawati</span> - Universitas Sebelas Maret</p>
            <p class="item"><span class="name">Sunny Rai</span> - University of Pennsylvania</p>
            <p class="item"><span class="name">Aubrie Amstutz</span> - Apple</p>
            <p class="item"><span class="name">Sidney Wong</span> - University of Canterbury</p>
            <p class="item"><span class="name">A. Seza Doğruöz</span> - Ghent University</p>
            <p class="item"><span class="name">Partha Talukdar</span> - Google Research</p>
            <p class="item"><span class="name">Preetam Prabhu Srikar Dammu</span> - University of Washington</p>
            <p class="item"><span class="name">Taelin Karidi</span> - Hebrew University of Jerusalem</p>
            <p class="item"><span class="name">Guijin Son</span> - Yonsei University</p>
            <p class="item"><span class="name">Razan Baltaji</span> - University of Illinois at Urbana Champaign</p>
            <p class="item"><span class="name">Alice Oh</span> - KAIST</p>
            <p class="item"><span class="name">Nathan Oken Hodas</span> - Information Sciences Institute</p>
            <p class="item"><span class="name">Kristen Johnson</span> - Michigan State University</p>
            <p class="item"><span class="name">Luis Chiruzzo</span> - Universidad de la República - Uruguay</p>
            <p class="item"><span class="name">Dan Simonson</span> - BlackBoiler, Inc.</p>
            <p class="item"><span class="name">Laura Alonso Alemany</span> - Universidad Nacional de Córdoba</p>
            <p class="item"><span class="name">Shangrui Nie</span> - Universität Bonn</p>
            <p class="item"><span class="name">Rifki Afina Putri</span> - Universitas Gadjah Mada</p>
            <p class="item"><span class="name">Junho Myung</span> - KAIST</p>
            <p class="item"><span class="name">Valerio Basile</span> - University of Turin</p>
            <p class="item"><span class="name">Dipankar Srirag</span> - University of New South Wales</p>
            <p class="item"><span class="name">Nisansa de Silva</span> - University of Moratuwa</p>
            <p class="item"><span class="name">Siddhesh Milind Pawar</span> - Copenhagen University</p>
            <p class="item"><span class="name">Dan Goldwasser</span> - Purdue University</p>
            <p class="item"><span class="name">Yuu Jinnai</span> - CyberAgent, Inc.</p>
            <p class="item"><span class="name">Nayeon Lee</span> - KAIST</p>
            <p class="item"><span class="name">Akhila Yerukola</span> - Carnegie Mellon University</p>
            <p class="item"><span class="name">Shreya Havaldar</span> - University of Pennsylvania</p>
            <p class="item"><span class="name">Nedjma Ousidhoum</span> - Cardiff University</p>
            <p class="item"><span class="name">Shaily Bhatt</span> - Carnegie Mellon University</p>
            <p class="item"><span class="name">Steve DeNeefe</span> - RWS Language Weaver</p>
        </div>
    </div>
    </div>
</section>