<style>
.workshop-link {
    font-size: 18px;
    text-decoration: none;
    color: #71b0f4; 
    font-weight: bold; 
}

.workshop-link:hover {
    text-decoration: underline; 
    color: #2035f0; 
}

.emoji {
    display: inline-block;
    margin-right: 10px; 
    vertical-align: middle;
}


</style>

<section id="previous">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Previous Workshops</h2>
                <hr class="primary">
                <p>Check out the proceedings from previous years!</p>
            </div>
            <div class="row no-gutter">
                <div class="col-md-8 col-lg-offset-2 text-center">
                    <a href="https://sites.google.com/view/c3nlp/home" class="workshop-link">
                        <span class="emoji">👉🏻</span> C3NLP @ ACL 2024, Bangkok, Thailand.
                    </a>
                </div>
                <div class="col-md-8 col-lg-offset-2 text-center">
                    <a href="https://sites.google.com/view/c3nlp-2023" class="workshop-link">
                        <span class="emoji">👉🏻</span> C3NLP @ EACL 2023, Dubrovnik, Croatia.
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

