<style>
    .speakers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
    }
    .speaker {
        flex: 1 1 calc(25% - 20px);
        max-width: 350px; 
        text-align: center; 
        padding: 10px; 
        box-sizing: border-box; 
    }
    .speaker img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        object-fit: cover; 
    }
    .speaker h3 {
        font-size: 24px;
        margin: 10px 0 5px; 
    }
    .speaker p {
        font-size: 16px;
        line-height: 1.4; 
    }
    </style>

<section class="bg-gray" id="speakers">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">INVITED SPEAKERS & PANELISTS</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">

            <div class="speakers-container">
                <div class="speaker"> 
                    <a href="https://anthropology.as.virginia.edu/people/lise-dobrin" target="_blank">
                        <img src="img/portfolio/lise.jpeg" style="border-radius: 50%;" alt=""
                             width="128">
                        <h3>Lise Dobrin</h3>
                    </a>
                    <p>Associate Professor<br>University of Virginia</p>
                </div>
                <div class="speaker"> 
                    <a href="https://mbzuai.ac.ae/study/faculty/monojit-choudhury/" target="_blank">
                        <img src="img/portfolio/monojit.jpg" style="border-radius: 50%;" alt=""
                             width="128">
                        <h3>Monojit Choudhury</h3>
                    </a>
                    <p>Professor<br>MBZUAI</p>
                </div>
                <div class="speaker"> 
                    <a href="https://www.shutova.org/" target="_blank">
                        <img src="img/portfolio/ekaterina.jpg" style="border-radius: 50%;" alt=""
                             width="128">
                        <h3>Ekaterina Shutova</h3>
                    </a>
                    <p>Associate Professor<br>University of Amsterdam</p>
                </div>
                <div class="speaker"> 
                    <a href="http://isabelleaugenstein.github.io/" target="_blank">
                        <img src="img/portfolio/isabelle.jpg" style="border-radius: 50%;" alt=""
                             width="128">
                        <h3>Isabelle Augenstein</h3>
                    </a>
                    <p>Professor<br>University of Copenhagen</p>
                </div>
                <div class="speaker"> 
                    <a href="https://scholar.google.com/citations?user=lS1Glo4AAAAJ" target="_blank">
                        <img src="img/portfolio/elisabeth.jpg" style="border-radius: 50%;" alt=""
                             width="128">
                        <h3>Elisabeth Maier</h3>
                    </a>
                    <p>Professor<br>Universidad Nacional Autónoma de México</p>
                </div>
            <br>
            
        </div>
    </div>
</section>
