<!-- Sponsors Section -->
<section class="bg-gray" id="sponsorship">
    <div class="container text-left">
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- Title -->
          <h2>OUR SPONSORS</h2>
            <hr class="primary">
            <!-- insert a image and name with href-->
            <a href="https://about.google/">
              <img src="img/sponsors/google.jpg" alt="Google" style="width: 400px">
            </a>
            <h3 >Gold Sponsor</h3>
        </div>
      </div>
      
      <!-- Sponsorship Tiers -->
      <div class="row no-gutter">
        <div class="col-md-12 text-left">
          <h3 class="section-heading" style="margin-top: 2rem;"><strong>Sponsorship Tiers</strong></h3>
        </div>
  
        <!-- Platinum -->
        <div class="col-md-12">
          <p class="sponsor-tier-title">
            <strong>Platinum <span class="tier-price">($3,000)</span></strong>
          </p>
          <p class="sponsor-description">
            This is a great way to position your company or organisation as a thought leader in the field of cross-cultural considerations in NLP, 
            signalling to researchers, civil society, competitors and buyers your commitment to furthering social-oriented research that benefits all of us.
            <br><br>
            Your company name will feature in our recordings, on the website and in the Proceedings. We will explicitly acknowledge and thank you for your support of 
            C3NLP@NAACL.
          </p>
          <ul class="sponsor-list">
            <li>Large Logo on Website (with hyperlink)</li>
            <li>Large Logo in Proceedings</li>
            <li>Invitation to attend the workshop</li>
            <li>Company name in recording description</li>
            <li>Acknowledgement at the beginning and end of the workshop</li>
          </ul>
        </div>
  
        <!-- Gold -->
        <div class="col-md-12">
          <p class="sponsor-tier-title">
            <strong>Gold <span class="tier-price">($2,000)</span></strong>
          </p>
          <p class="sponsor-description">
            This is our mid-tiered package and will still give you great exposure to our attendees. Unlike Platinum, the company logos will be sized slightly smaller. 
            But you will still get access to the community and be able to demonstrate your commitment to the topic.
          </p>
          <ul class="sponsor-list">
            <li>Large Logo on Website (with hyperlink)</li>
            <li>Medium Logo in Proceedings</li>
            <li>Invitation to attend the workshop</li>
            <li>Company name in recording description</li>
            <li>Acknowledgement at the beginning and end of the workshop</li>
          </ul>
        </div>
  
        <!-- Silver -->
        <div class="col-md-12">
          <p class="sponsor-tier-title">
            <strong>Silver <span class="tier-price">($1,000)</span></strong>
          </p>
          <p class="sponsor-description">
            This is our smallest package and is an excellent way to first explore the C3NLP community and learn more about our exciting programme of research. 
            With all packages, you are able to meet with the Workshop organisers and find out more about how to position your company within C3NLP, 
            which can be particularly useful for first-time sponsors.
          </p>
          <ul class="sponsor-list">
            <li>Medium Logo on Website (with hyperlink)</li>
            <li>Medium Logo in Proceedings</li>
            <li>Company name in recording description</li>
            <li>Acknowledgement at the beginning and end of the workshop</li>
          </ul>
        </div>
      </div>
    </div>
  </section>