<section class="bg-gray" id="dates">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">IMPORTANT DATES</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">
            <table style="width: 100%; font-size: 18px;">
                <tbody>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <th class="th-1-Width">Event</th>
                        <th style="text-align: left;">Date</th>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="3" style="text-align: left;">Full peer-review (Archival and Non-archival)</td>
                        <td>Submission deadline: <b>March 20, 2026</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: <b>April 28, 2026</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Camera-ready paper due: May 12, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="4" style="text-align: left;">Already peer-reviewed through ARR</td>
                        <td>Last ARR submission deadline: January 5, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Commitment deadline: April 10, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: April 28, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td> Camera-ready paper due: May 12, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="2" style="text-align: left;">Already accepted/published (Non-archival)</td>
                        <td>Submission deadline: <b>May 18, 2026</b></td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Notification of acceptance: May 25, 2026</td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td rowspan="2" style="text-align: left;">Workshop</td>
                        <td>Registration: TBA (Early registration deadline: TBA)</h>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black; height: 30px">
                        <td>Workshop: July 7, 2026</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <p class="bg-gray" align="justify">All deadlines are 23:59 <a
                    href="https://www.timeanddate.com/time/zone/timezone/utc-12" target="_blank">UTC -12h</a> (anywhere
                on earth) unless stated otherwise.</p>

        </div>

    </div>
</section>