<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head.html %}
  <!-- 添加响应式meta标签 -->
</head>

<body id="page-top">
  {% include nav.html %}
  {% include cfp.html %}
  {% include dates.html %}
  {% include speakers.html %}
  {% include organizers.html %}
  {% include previous.html %}
  {% include albums.html %}
  {% include contact.html %}

  <script>
    $(document).ready(function() {
      // 强制关闭导航栏的折叠状态
      $('.navbar-collapse').removeClass('in');
      $('.navbar-collapse').css('height', 'auto'); // 确保高度适配内容
    });
  </script>

</body>
</html>